*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
   
}
#main1{
    position:sticky;
    top: 0;
    z-index: 5;
    background-color: rgb(255, 0, 153);
    box-shadow: 4px 4px 5px black;
}
.left{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;

}
.left h1{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-top{
    border: none;
    background-color: rgb(255, 0, 153);
    margin-top: 15px;
    border-radius: 10px;
    
}

.items a img{
    height: 187px;
    display: inline-flex;
    justify-content: center;
    margin-left: 30px;
    gap: 0px;
    margin-top: 30px;
    
}
.items a img:hover{
    transform: scale(1.1);
}
.carousel-inner{
    margin-top: 30px;
    border-radius: 30px;
}
#main2{
   
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.Product-heading{
    font-size: 30px;
    font-weight: bold;
    color:rgb(255, 0, 153);
}
.heading{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
}
.menucards{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 50px;
    margin-left: 50px;
}
.menucards img{
    height: 300px;
    border-radius: 20px;
}
.disscount{
    display: flex;
    justify-self: center;
    margin-top: 100px;
}
.blackbox{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
   
}
.secondcart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}
.item{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-around;
    margin-top: 100px;
}
.last{
    display: grid;
    justify-content: center;
}

.lastimg{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.Description{
    margin-top: 40px;
    text-align: center;
    background-color: black;
    color: white;
}
#footermain{
    background-color: rgb(21, 0, 255);
}
i{
    margin-right: 10px;
}

.heading-1{
  margin-left: 90px;
    
    margin-top: 50px;
}
.heading-1 h2{
    font-size: 45px;
    font-weight: bold;
}
.Biryani-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  /*  grid-template-columns: repeat(3, 2fr); /* 4 columns */
    gap: 120px;
    padding: 40px;
    margin-left: 60px;
}
.Biryani-card .card{
    border: none;
}
.Biryani-card img{
    border-radius: 10px;
}
.card img:hover,
.card img:focus {
  transform: scale(1.1);
  
}

.Biryani-card h2{
    font-weight: bold;
    font-size: 25px;
}
.price{
    color: rgb(0, 0, 0);
}

.heading-2{
    margin-left: 90px;
    margin-top: 50px;
  }
  .heading-2 h2{
      font-size: 45px;
      font-weight: bold;
  }
.IceCream-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    padding: 40px;
  
    margin-top: 20px;
}
.IceCream-card .card{
    border: none;
    margin-top: 20px;
}
.IceCream-card img{
    border-radius: 20px;
}
.IceCream-card h2{
    font-weight: bold;
    font-size: 25px;
}
.heading-3{
    margin-left: 90px;
    margin-top: 50px;
  }
  .heading-3 h2{
      font-size: 45px;
      font-weight: bold;
  }
.PureVeg-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    padding: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}
.PureVeg-card .card{
    border: none;
    margin-top: 20px;
}
.PureVeg-card img{
    border-radius: 20px;
}
.PureVeg-card h2{
    font-weight: bold;
    font-size: 25px;
}
.heading-4{
    margin-left: 90px;
    margin-top: 50px;
}
.heading-4 h2{
    font-size: 45px;
    font-weight: bold;
}
.Chinese-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    padding: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}
.Chinese-card .card{
    border: none;
    margin-top: 20px;
}
.Chinese-card img{
    border-radius: 20px;
}
.Chinese-card h2{
    font-weight: bold;
    font-size: 25px;
}
.heading-5{
    margin-left: 90px;
    margin-top: 50px;
}
.heading-5 h2{
    font-size: 45px;
    font-weight: bold;
}
.South-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    padding: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}
.South-card .card{
    border: none;
    margin-top: 20px;
}
.South-card img{
    border-radius: 20px;
}
.South-card h2{
    font-weight: bold;
    font-size: 25px;
}
.heading-6{
    margin-left: 90px;
    margin-top: 50px;
}
.heading-6 h2{
    font-size: 45px;
    font-weight: bold;
}
.Shakes-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    padding: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}
.Shakes-card .card{
    border: none;
    margin-top: 20px;
}
.Shakes-card img{
    border-radius: 20px;
}
.Shakes-card h2{
    font-weight: bold;
    font-size: 25px;
}
.heading-7{
    margin-left: 90px;
    margin-top: 50px;
}
.heading-7 h2{
    font-size: 45px;
    font-weight: bold;
}
.Pizza-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
    padding: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}
.Pizza-card .card{
    border: none;
    margin-top: 20px;
}
.Pizza-card img{
    border-radius: 20px;
}
.Pizza-card h2{
    font-weight: bold;
    font-size: 25px;
}
.btn{
    margin-top: 30px;
    color: rgb(255, 0, 153);
}
.btn{
    background:#1AAB8A;
    color:#ff0000;
    border:none;
    position:relative;
   
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
.btn:hover{
    background:#000000;
    color:#fa0000;
  }
.btn:before,.btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fefefe;
    transition:400ms ease all;
  }
.btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
.btn:hover:before,.btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .menucards{
    border: none;
  }

#card-body{
    background-image: url(https://img.freepik.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    background-repeat: no-repeat;
}


.caart h3{
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  
}
.caart ul{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: white;
}
.caart p{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    
}
.caart .remove-item{
    align-self: center;
    background: none;
    border: none;
    font-size: 25px;
  width: 109px;
    display: flex;
    justify-self: end;
    align-self: center;
    margin-right: 70px;
    padding-left: 5px;
    border-radius: 15px;
    

}
.last-home{
    background: none;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
    border: none;
}

#order-now-btn{
    font-size: 30px;
    padding: 9px;
    background-color: green;
    color: white;
    display: flex;
    justify-self: center;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 7px;
}
.about{
    background-color: white;
    height: 100px;
    font-size: 50px;
    font-family:cursive;
    text-align: center;
}
.about-discription{
    font-size: 40px;
    background-color: white;
    height: 400vh;
}